footer {
   .container {
      position: relative;
      padding: 0 24px;
   }
}

.footer-top {
   flex-direction: column;
   padding-top: 52px;

   a {
      img {
         width: 133px;
      }
   }

   .footer-nav {
      margin-top: 50px;
      margin-left: initial;

      .footer-nav-list {
         flex-direction: column;
         gap: 30px;

         .footer-nav-item {
            a {
               font-size: 0.875rem;
               line-height: 1.35;
            }
         }
      }
   }
}

.footer-bottom {
   padding: 26px 0 36px;
   justify-content: center;

   .copywrite {
      font-size: 0.85rem;
      font-weight: 500;
      line-height: 1.5;
   }
}

.footer__social {
   gap: 20px;
   position: absolute;
   top: 66px;
   right: 30px;

   a {
      width: 16px;
      height: 16px;
   }
}