header {
	padding-top: 32px;

	.container {
		.logotype {
			width: 39px;
		}
	}
}

.mobile-container {	
	.nav-list {
		padding: 0 28px;
		
		.nav-item {
			a {
				font-size: 0.8rem;
			}
		}
	}
}

form.header-search {
	max-width: 248px;
	margin-right: 20px;

	input[type='search'] {
		font-size: 0.7rem;
		border-radius: 11px;
		padding: 14px 12px 14px 48px;
		background: url(assets/img/loupe.svg) 16px center no-repeat $weekly-bg;
      background-size: 15px 15px;

		&::placeholder {
			font-size: 0.7rem;
		}
	}
}
