header {
   position: relative;
   padding: 30px 0;

   .container {
      .logotype {
         width: 142px;
      }
   }

   &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 12px;
      right: 12px;
      height: 1px;
      background-color: $light-grey;
   }
}

.burger {
   display: block;
}

.mobile-container.show {
   clip-path: inset(0 0 0 0);
}

.mobile-container {
   position: absolute;
   flex-direction: column;
   top: 106px;
   left: 0;
   gap: 20px;
   padding: 0 36px 20px;
   background-color: $header-color;
   z-index: 2;
   clip-path: inset(0 100% 0 0);
   transition: 0.8s;

   .header-nav {
      max-width: 348px;
      width: 100%;
      text-align: center;
      margin-top: 12px;
      display: flex;
      justify-content: center;

      .nav-list {
         flex-direction: column;
         padding: 0;

         .nav-item {
            margin: 12px 0 10px;

            a {
               color: #000;

               &:hover {
                  color: #fff;
               }
            }
         }
      }
   }

   form.header-search {
      margin: initial;
      margin-bottom: 8px;

      input[type='search'] {

         &:hover {
            outline: 1px solid #000;
         }

         &:focus {
            outline: 2px solid #000;
         }


         + .btn {
            max-width: 348px;
            width: 100%;
         }
      }
   }
}
