.join-the-community {
   margin-bottom: 145px;

   .community {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .section-title {
         font-size: 1.375rem;
         font-weight: 600;
         margin-bottom: 14px;
      }

      .community-text {
         margin-bottom: 49px;

         h6 {
            font-size: 0.5625rem;
         }
      }

      .btn {
         font-size: 0.5625rem;
         padding: 12px 10.5px;
         border-radius: 6px;
      }
   }
}