.tab {
   .spinner {
      width: 28px;
      height: 28px;
      left: calc(50% - 14px);
   }
}

.tabs {
   margin-bottom: 93px;

   &__nav {
      height: 34px;
      margin-bottom: 55px;
   }
   
   &__button {
      font-size: 0.8rem;

      svg {
         width: 17px;
         height: 15px;
         margin-right: 4px;
      }
      
      &.active {
         border-bottom: 2px solid $widget-color;
      }
   }
}

.collection {
   gap: 30px 20px;

   .product {
      max-width: 146px;
      height: 209px;
      border-radius: 12px;
      padding: 7px 7px 11px;
      box-shadow: 20px 6px 31px 0 rgba(199, 199, 199, 0.8);
   
      &-img {
         margin-bottom: 10px;
      }
   
      &-title {
         font-size: 0.7rem;
         margin-bottom: 7px;
      }
   
      &-bid-title {
         font-size: 0.46rem;
      }
   
      &-bid {
         font-size: 0.54rem;
   
         i {
            margin-right: 1px;
         }
      }
   
      .btn {
         font-size: 0.46rem;
         margin: -28px 0 0 auto;
         padding: 8.5px 14.5px;
      }

      .icon-xxs {
         width: 11px;
         height: 11px;
      }   
   }
}

.activity {
   gap: 20px;

   .user {
      border-radius: 10px;
      padding: 12px 12px 14px;
      box-shadow: 0px 4px 46px 0 rgb(97, 97, 97, 0.25);

      .icon-xs {
         display: none;
      }

      .icon-xxs {
         display: block;
      }
   }
}

.first-row {
   padding-bottom: 15px;
   border-bottom: 0.5px solid $text-grey;

   .user-info {
      img {
         width: 51px;
         height: 51px;
         border-radius: 10px;
         margin-right: 10px;
      }

      .user-name {
         font-size: 0.84rem;
      }

      .user-nickname {
         font-size: 0.6rem;

         i {
            margin-right: 4px;
         }

         img {
            width: 10px;
            height: 10px;
            margin-bottom: 1px;
         }
      }
   }

   .sales {
      padding-right: 20px;

      .sale {
         font-size: 0.6rem;
      }

      .price {
         font-size: 0.8rem;

         .icon-etherium {
            margin-right: 4px;
         }
      }

      .time-ago {
         font-size: 0.6rem;
      }
   }
}

.second-row {
   padding-top: 14px;

   .usd-price,
   .quantity,
   .floor-price,
   .traded {
      .title {
         font-size: 0.6rem;
      }
         
      .numbers {
         font-size: 0.8rem;
      }
   }
}