.wallet {
   header {
      &::after {
         display: none;
      }
   }

   main {
      .choose {
         max-width: 281px;
         max-height: 452px;
         margin: 22px auto 72px;

         .section-title {
            font-size: 1.57rem;
            margin-bottom: 76px;
         }

         .link {
            border-radius: 7px;
            box-shadow: 4px 7px 36px 0 rgba(15, 15, 15, 0.1);
            padding: 17px 21px;
            margin-bottom: 25px;
            gap: 14px;

            img {
               width: 27px;
               height: 27px;
            }

            .choosing {
               font-size: 0.8rem;
            }

            span {
               width: 5px;
               height: 5px;
               border-radius: 1px;
            }
         }

         .btn {
            font-size: 0.8rem;
            padding: 17.5px;
            margin-top: 33px;
         }
      }
   }

   .footer-info {
      padding: 34px;

      .footer-nav-item {
         a {
            font-size: 0.71rem;
         }
      }

      .copywrite {
         font-size: 0.71rem;
      }
   }

   .start-gallery {
      .section-title {
         max-width: 308px;
         margin: 0 auto 12px;
      }

      p {
         font-size: 0.74rem;
         max-width: 289px;
      }
   }

   .slider-container {
      .swiper {
         width: 338px;
         height: 325px;
         margin: 85px auto 0;
   
         .swiper-slide {
            width: 278px;
            margin: 0 30px;
            transition: 0.9s;
   
            img {
               &:last-child {
                  width: 272px;
                  filter: blur(15px);
                  opacity: 0.5;
                  margin-top: calc(-100% + 16px);
               }
            }
         }
      }
   }

   .wallet-slider-navigation {
      width: 130px;
      height: 54px;
      margin-left: calc(50% - 65px);
      bottom: -247px;
           
      &::after {
         height: 20px;
     }
   }
  
   .swiper-button-prev,
   .swiper-button-next {
      @include slider-nav-half;
      width: 60px;
      height: 54px;
      top: 22px;
   }
}
