.widgets {
   .widget {
      width: 154px;
      border: 0.5px solid $weekly-bg;
      border-radius: 7px;
      padding: 10px;
      margin: auto -70px -31px 0px;
   
      &__title {
         padding-right: 22px;
         margin-bottom: 15px;
   
         h5 {
            font-size: 0.56rem;
         }
   
         .layout-menu {
            right: 10px;
   
            &.show {
               .layout-case {
                  gap: 6px;
                  padding: 0;
                  margin-top: -2px;
         
                  &__item {
                     .icon-svg {
                        width: 16px;
                        height: 16px;
                     }
                  }
               }
            }
         }
         
         .layout-case__button {
            width: 22px;
            height: 12px;
            
            svg {
               margin-bottom: 8px;
               width: 14px;
               height: 10px;
            }
         }
      }
   
      .widget-users-list {
         max-height: 55px;
         padding-right: 6px;
   
         &__item {
            margin-bottom: 8px;
            position: relative;
   
            &::before {
               content: counter(widgetcount) "";
               top: 10px;
               left: 13px;
               width: 9px;
               height: 9px;
               font-size: 0.3rem;
               padding-top: 2px;
            }
   
            .widget-user {
               &__avatar {
                  width: 19px;
                  height: 19px;
                  margin-right: 10px;
   
                  img {
                     width: 17px;
                     height: 17px;
                     border-radius: 50%;
                  }
               }
   
               &__data {
                  .widget-user__name {
                     font-size: 0.4rem;
                     font-weight: 500;
                     margin-bottom: 3px;
                  }
   
                  .widget-user__nickname {
                     font-size: 0.33rem;
                  }
               }
   
               &__volume {
                  .widget-user__price {
                     font-size: 0.4rem;
                     margin-bottom: 3px;
   
                     .icon-xs {
                        width: 8px;
                        height: 8px;
                     }
                  }
   
                  .widget-user__percent {
                     font-size: 0.36rem;
                  }
               }
            }
         }
      }
   }
   
   .widget.grid {
      .widget-users-list {
         display: flex;
         flex-wrap: wrap;
         gap: 12px;
         padding: 0;
   
         &__item {
            width: calc(50% - 6px);
            margin: 0;
   
            .widget-user__avatar {
               margin: 0;
            }
   
            &::before {
               left: 31px;
            }
         }
      }
   }
}