.your-inner-collector {
   .container {
      border: none;
      flex-direction: column;
   }
}

.collector {
   text-align: center;
   padding: 0;
   margin-bottom: 106px;

   .seller {
      display: none;
   }

   .section-title {
      line-height: 1.237;
      text-align: center;
      padding: 0;
      margin-bottom: 426px;
   }

   .btn {
      font-size: 0.7rem;
      border-radius: 9px;
      padding: 14px 12px 14px 15px;
      margin: 0 auto;

      svg {
         width: 16px;
         height: 16px;
         margin-left: 6px;
      }

      &-primary:hover {
         outline: 1px solid #000;
      }
   }
}

.widgets {
   padding: 0;
   justify-content: center;
   margin-top: -491px;

   &::before {
      left: 56%;
      bottom: -20px;
      width: 192px;
      height: 83px;
      background: url(assets/img/banner-dot-mobile.svg);
   }

   .best-sellers {
      width: 154px;
      padding: 12px 10px;
      border: 0.5px solid $weekly-bg;
      border-radius: 7px;
      box-shadow: 4px 4px 21px 0 rgba(20, 20, 22, 0.15);

      .section-title {
         margin-bottom: 10px;

         h6 {
            font-size: 0.56rem;
         }
      }

      .layout-case__button {
         width: 22px;
         height: 13px;

         svg {
            margin-left: 5px;
            margin-bottom: 5px;
         }
      }
   }
}

.best-seller-list {
   &__item {
      &::before {
         width: 10px;
         height: 10px;
         top: -2px;
         left: 15px;
         font-size: 0.3125rem;
         padding: 1px 0 0 1px;
      }

      .best-seller-user {
         &__avatar {
            width: 23px;
            height: 23px;
            margin-right: 7px;

            img {
               width: 23px;
               height: 23px;
            }
         }

         .best-seller-user__data {
            .best-seller-user__name {
               font-size: 0.37rem;
            }

            .best-seller-user__nickname {
               font-size: 0.3125rem;
            }
         }
      }

      .btn {
         font-size: 0.37rem;
         padding: 3px 7px;
         border-radius: 3.4px;
         outline: 1px solid $light-grey;
      }
   }
}

.rotation {
   width: 154px;
   box-shadow: 0 9px 14px 0 rgba(70, 70, 70, 0.15);
   border-radius: 7px;
   padding: 5px;
   margin: -17px 0 0 -70px;

   .rotation-everything {
      .circle-avatar {
         margin-right: 6px;

         .circle-wrapper {
            margin-right: 10px;

            .circle {
               width: 4px;
               height: 4px;
               top: 8px;
            }
         }

         .user-avatar-round {
            width: 19px;
            height: 19px;
         }

         .verified {
            top: -2px;
            right: -2px;
            width: 8px;
            height: 8px;
         }
      }

      .section-info {
         .new-bid {
            font-size: 0.4rem;
         }

         .fluctuation,
         .date {
            font-size: 0.36rem;
            font-weight: 600;
         }

         .date {
            font-weight: inherit;
         }
      }
   }

   .user-avatar-rectangular {
      width: 29px;
      height: 29px;
      border-radius: 5px;
   }
}