@media screen and (max-width: 767.9px) {
   .explore-marketplace {
      margin-bottom: 242px;

      .section-title {
         font-size: 1.875;
         line-height: 1.25;
         text-align: center;
         margin-bottom: 30px;
      }

      .explore-btns-row {
         gap: 14px;
         margin: 0 0 75px;
   
         button:first-child { /* Скрыть 1-й элемент */
            display: none;
         }

         button:nth-child(2) svg {
            width: 12px;
            height: 14px;
         }
        
         button:nth-child(n+3) svg {
            width: 14px;
            height: 14px;
          }
   
         .btn {
            font-size: 0.62rem;
            border-radius: 9px;
            padding: 10px;

            .btn-content {
               gap: 7px; /* Отступ между иконкой и текстом */
            }
         }
      }
   }

   .explore-product-row {
      gap: 35px;
      align-items: center;

      .mobile-four,
      .desktop-four {
         flex-direction: column;
         gap: 35px;
      }
   }
}
