@media screen and (max-width: 1199.9px) {
   .mobile-container {
      .nav-list {
         padding: 0 20px;
      
         .nav-item {
            margin: 0 18px;
         }
      }
   }

   .banner {
      > .container {
         gap: 40px;
     }
   }

   .explore-product-row {
      .mobile-four,
      .desktop-four {
         .product:nth-child(n+4) { /* Скрыть все, начиная с 4-го элемента */
            display: none;
         }   
      }
   }
}
