@media screen and (max-width: 575.9px) {
   .banner-advantages .banner-advantage {
      margin: 0 12px;
   }

   .banner-slider-container {
      align-self: flex-start; // убираем центрирование
      margin-left: 30px;
   }
   
   .footer__social {
      gap: 16px;
      right: 12px;
   }
}