@media screen and (max-width: 1024.9px) {
   .btn {
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.42;
      border-radius: 9px;
      border: 1px solid #000;
   }

   header {
      position: relative;
      padding: 30px 0;
      margin-bottom: 74px;

      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 12px;
         right: 12px;
         height: 1px;
         background-color: $light-grey;
      }
   }

   .mobile-container.show {
      left: 0;
   }

   .mobile-container {
      position: absolute;
      flex-direction: column;
      top: 106px;
      left: 100%;
      gap: 24px;
      padding: 36px;
      background-color: $header-color;
      z-index: 2;
      transition: 0.7s;

      .header-nav {
         display: flex;
         justify-content: center;
         text-align: center;
         max-width: 348px;
         width: 100%;

         .nav-list {
            flex-direction: column;
            padding: 0;

            .nav-item {
               margin: 12px 0;

               a {
                  color: #000;

                  &:hover {
                     color: #fff;
                  }
               }
            }
         }
      }

      form.header-search {
         margin: initial;

         input[type='search'] {

            &:hover {
               outline: 1px solid #000;
            }

            &:focus {
               outline: 2px solid #000;
            }


            +.btn {
               max-width: 348px;
               width: 100%;
            }
         }
      }
   }

   .burger {
      display: block;
   }

   .banner {
      padding-top: 0;

      >.container {
         flex-direction: column;
         gap: 60px;
         align-items: center;
         justify-content: center;
      }

      &-content {
         text-align: center;
      }

      &-title {
         font-size: 3rem;
         margin-bottom: 10px;
         letter-spacing: -2px;
      }

      &-description {
         font-size: 0.75rem;
         margin-bottom: 42px;
      }

      &-btns-row {
         margin-bottom: 20px;

         .btn-primary {
            padding: 14px 19.5px;
         }

         .btn-secondary {
            padding: 14px;
         }
      }

      &-advantages {
         justify-content: center;
         margin: 0;

         h3 {
            font-size: 1.5rem;
         }
      }

      &-slider-container {

         &::before {
            right: 10px;
            width: 92px;
            height: 213px;
            background: url(assets/img/banner-dot-mobile.svg);
         }

         &::after {
            left: 224px;
            top: 40px;
            width: 59px;
            height: 57px;
            background: url(assets/img/twisted-arrow-mobile.svg);
         }
      }

      .swiper {
         width: 436px;
         height: 295px;
      }

      .swiper-slide {

         img {

            &:first-child {
               margin-top: 20px;
            }

            &:last-child {
               margin-top: calc(-100% - 39px);
            }
         }

         &.swiper-slide-next {
            margin-top: 107px;

            img {
               max-width: 170px;

               &:first-child {
                  margin-top: 5px;
               }

               &:last-child {
                  margin-top: calc(-100% + 10px);
               }
            }
         }
      }

      .banner-slider-navigation {
         width: 88px;
         height: 37px;
         border-radius: 9px;
         box-shadow: 0 23px 18px 0px rgba(15, 15, 15, 0.12);
         margin-left: 70px;
         margin-top: -37px;

         &::after {
            width: 1.5px;
            height: 14px;
            border-radius: 1.5px;
         }
      }

      .swiper-button-prev,
      .swiper-button-next {
         width: 44px;
         height: 37px;
         margin: -18px -11px;

         svg {
            width: 14px;
            height: 14px;
         }
      }
   }

   .carousel-weekly {
      .swiper-slide {
         width: 198px;
      }
   }

   .product {
      max-width: 178px;
      border-radius: 17px;
      padding: 10px 10px 15px;

      &-img {
         margin-bottom: 13px;
      }

      &-title {
         font-size: 0.9375rem;
         line-height: 1.4;
         margin-bottom: 10px;
      }

      &-bid-title {
         font-size: 0.625rem;
         margin-bottom: 3px;
      }

      &-bid {
         font-size: 0.75rem;
         font-weight: 400;
         line-height: 1.417;

         i {
            margin-right: 2px;
         }
      }

      .btn {
         font-size: 0.625rem;
         font-weight: 700;
         line-height: 1.5;
         margin: -35px 0 0 auto;
         padding: 11px 18px;
         border: none;
      }

      .icon-sm {
         display: none; // Скрываем .icon-sm на экранах менее 1024px
      }
     
      .icon-xs {
         display: inline-block; // Показываем .icon-xs на экранах менее 1024px
      }
   }

   footer .container {
      position: relative;
      padding: 0 27px;
   }

   .footer-top {
      flex-direction: column;
      padding-top: 52px;

      .footer-nav {
         margin-top: 50px;
         margin-left: initial;

         .footer-nav-list {
            flex-direction: column;
            gap: 30px;

            .footer-nav-item {
               font-size: 0.875rem;
            }
         }
      }
   }

   .footer-bottom {
      padding: 26px 0 36px;
      justify-content: center;

      .copywrite {
         font-size: 0.875rem;
      }
   }

   .footer-social {
      gap: 20px;
      position: absolute;
      top: 66px;
      right: 30px;

      a {
         width: 16px;
         height: 16px;
      }
   }

   .banner-overtitle {
      justify-content: center;

      &-line {
         width: 34px;
      }

      &-text {
         font-size: 0.625rem;
         line-height: 1.2;
         margin-left: 12px;
      }
   }
}