@media screen and (max-width: 767.9px) {
   .icon-lg,
   .icon-md,
   .icon-sm {
      display: none;
   }

   .icon-xs,
   .icon-xxs {
      display: inline-block;
   }

   .top-collection {
      margin-bottom: 177px;

      .section-title {
         font-size: 1.875rem;
         line-height: 1.5;
         margin-bottom: 40px;
      }

      .header-tab {
         position: relative;
         font-size: 0.875rem;
      }

      .volume {
         position: absolute;
         right: 80px;
      }

      .percent {
         position: absolute;
         right: 0;
      }
      
      td {
         padding: 16px 0;
      }

      .user {
         position: relative;
         border-bottom: 1px solid $light-grey;
         
         .user-info {         
            img {
               width: 44px;
               height: 44px;
               margin-right: 22px;
            }
            
            .user-data {
               .user-name {
                  font-size: 0.9625rem;
               }
               
               .user-nickname {
                  font-size: 0.7825rem;
               }
            }
         }
         
         .volume {
            position: absolute;
            top: 12px;
            right: 80px;
            font-size: 0.9625rem;

            .icon {
               position: absolute;
               top: 18px;
               left: -18px;
            }
         }

         .percent {
            top: 13px;
            font-size: 0.85rem;
         }
      }
      
      .header-tab th:nth-child(4), // "Floor Price"
      .header-tab th:nth-child(5), // "Owners"
      .header-tab th:nth-child(6), // "Items"
      .user td:nth-child(4),
      .user td:nth-child(5),
      .user td:nth-child(6) {
         display: none;
      }
   }
   
   .explore-product-row {
      gap: 35px;
      align-items: center;

      .mobile-four,
      .desktop-four {
         flex-direction: column;
         gap: 35px;
      }
   }

   .explore-marketplace {
      margin-bottom: 242px;

      .section-title {
         font-size: 1.875;
         line-height: 1.25;
         text-align: center;
         margin-bottom: 30px;
      }

      .explore-btns-row {
         gap: 14px;
         margin: 0 0 75px;
   
         button:first-child { /* Скрыть 1-й элемент */
            display: none;
         }

         button:nth-child(2) svg {
            width: 12px;
            height: 14px;
         }
        
         button:nth-child(n+3) svg {
            width: 14px;
            height: 14px;
          }
   
         .btn {
            font-size: 0.62rem;
            border-radius: 9px;
            padding: 10px;

            .btn-content {
               gap: 7px; /* Отступ между иконкой и текстом */
            }
         }
      }
   }
}

