@media screen and (max-width: 1199.9px) {
   .banner {
      > .container {
         gap: 40px;
     }
   }

   .explore-marketplace {
      .explore-product-row {
         .product:nth-child(n+7) {
            display: none;
         }
      }   
   }

   .place-bid {
      .product-card {
         .card-info {
            .product-card-title {
               margin-bottom: 18px;
            }

            .product-card-description {
               margin-bottom: 45px;
            }

            .icons {
               margin-bottom: 40px;
            }

            .current-end {
               margin-bottom: 32px;
            }
         }
      }
   }
}
