@media screen and (max-width: 1024.9px) {
   h2 {
      font-size: 2rem;
   }

   h6 {
      font-size: 0.8rem;
   }

   .btn {
      font-size: 0.72rem;
      border-radius: 12px;
      padding: 12px 20px;
   }

   .join-the-community .community {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .btn {
         font-size: 0.66rem;
         border-radius: 8px;
         padding: 13px;
      }
   }

   .asked-questions {
      .section-title {
         font-size: 2.17rem;
         line-height: 1.21;
      }
   }

   @import '../media-files/header-1024.scss';
   @import '../media-files/banner-1024.scss';
   @import '../media-files/weekly-1024.scss';
   @import '../media-files/widget-1024.scss';
   @import '../media-files/your-inner-collector-1024.scss';
   @import '../media-files/create-and-sell-1024.scss';
   @import '../media-files/place-bid-1024.scss';
   @import '../media-files/place-bid-modal-1024.scss';
   @import '../media-files/collection-activity-1024.scss';
   @import '../media-files/tab-1024.scss';
   @import '../media-files/creators-1024.scss';
   @import '../media-files/sell-1024.scss';
   @import '../media-files/wallet-1024.scss';
   @import '../media-files/footer-1024.scss';
}