@media screen and (min-width: 768px) {
   .icon-lg,
   .icon-md,
   .icon-sm {
      display: inline-block;
   }

   .icon-xs,
   .icon-xxs {
      display: none;
   }

   .d-big {
      display: block;
   }

   .d-small {
      display: none;
   }
}
