.banner {
    padding: 64px 0 150px 0;

    >.container {
        display: flex;
        gap: 106px;
    }

    &-content {
        max-width: 510px;
        width: 100%;
    }

    &-overtitle {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        letter-spacing: 1.23px;

        &-line {
            width: 195px;
            height: 2px;
            background-color: $text-grey;
        }

        &-text {
            color: $text-grey;
            font-size: 0;
        }

    }

    &-title {
        margin-bottom: 16px;
    }

    &-description {
        font-size: 1.125rem;
        line-height: 1.556;
        margin-bottom: 17px;
        color: $footer-color;

        strong,
        b {
            font-weight: 600;
            color: $footer-bg;
        }
    }

    &-btns-row {
        margin: 0 -12px 80px;

        .btn-primary {
            padding: 18px 28.5px;
        }

        .btn-secondary {
            padding: 18px 20px;
        }

        >a,
        .btn {
            margin: 0 12px;
        }
    }

    &-advantages {
        display: flex;
        margin: 0 -32px;

        .banner-advantage {
            margin: 0 32px;

            h3 {
                line-height: 1.278;
                margin-bottom: 6px;
                color: $footer-bg;
            }

            small {
                display: inline-block;
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 1.5;
                color: $footer-color;
            }
        }
    }

    &-slider-container {
        position: relative;
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            position: absolute;
            right: 60px;
            top: 0;
            width: 174px;
            height: 402px;
            background: url(assets/img/banner-dot.svg);
        }

        &::after {
            content: "";
            position: absolute;
            left: 413px;
            top: 60px;
            width: 129px;
            height: 124px;
            background: url(assets/img/twisted-arrow.svg);
        }
    }

    .swiper {
        width: 802px;
        height: 554px;
    }

    .swiper-slide {
        transition: 1s;

        img {
            transition: 1s;
            width: 100%;
            padding: 0 10px;

            &:first-child {
                filter: blur(10px);
                opacity: 0.4;
                margin-top: 29px;
            }

            &:last-child {
                opacity: .99;
                margin-top: calc(-100% - 63px);
            }
        }

        &.swiper-slide-next {
            margin-top: 181px;

            img {
                height: auto;
                max-width: 319px;

                &:last-child {
                    margin-top: calc(-100% + 40px);
                }
            }
        }
    }
}

.banner-slider-navigation {
    @include slider-nav;
    margin-left: 112px;
    margin-top: -78px;

    &::after {
        @include slider-nav-separator;
    }
}

.swiper-button-prev,
.swiper-button-next {
    @include slider-nav-half;
    margin: -34px -11px;
}