.creators {
   margin: 155px 0 177px;

   .section-title {
      line-height: 0.67;
      margin-bottom: 130px;
   }

   .creators-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 83px 24px;
      margin-bottom: 153px;

      .product {
         display: flex;
         flex-direction: column;
         align-items: center;
         max-width: 371px;
         border-radius: 25px;
         padding: 0;
         box-shadow: 20px 30px 24px 0 rgb(199, 199, 199, 0.8);

         .icon-xs {
            display: inline-block;
            margin-bottom: -2px;
         }

         .card-img {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 7px;

            .background {
               height: 206px;
               border-radius: 25px 25px 0 0;
            }

            .circle {
               width: 124px;
               border: 7px solid #fff;
               border-radius: 50%;
               margin-top: -60px;
            }
         }

         .name {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.42;
            margin-bottom: 17px;

            .check-mark {
               width: 21px;
               height: 20px;
               margin-left: 10px;
            }
         }

         .info-bid {
            width: 100%;
            text-align: center;
            padding: 0 26px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 33px;

            .column {
               .numbers {
                  font-size: 1.12rem;
                  font-weight: 500;
                  line-height: 1.44;
               }

               .titles {
                  font-size: 0.8rem;
                  line-height: 1.23;
                  color: $text-grey;
               }
            }
         }

         .images {
            width: 100%;
            padding: 0 26px;
            margin-bottom: 37px;
            display: flex;
            justify-content: space-between;

            img {
               width: 99px;
               border-radius: 10px;
            }

            .image-container {
               position: relative;
               width: 99px;
               height: 99px;
               border-radius: 10px;
               overflow: hidden;

               .overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.5); /* Затемнение (50% черного цвета) */
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  span {
                     color: #fff;
                     font-size: 1.24rem;
                     font-weight: bold;
                  }
               }
            }
         }
      }
   }

   .spinner {
      margin: 0 auto;
      @include spinner;
   }
}
