.explore-marketplace {
   margin-bottom: 246px;

   .container {
      position: relative;
      display: flex;
      flex-direction: column;
   }
   
   .section-title {
      margin-bottom: 65px;
   }
   
   .btns-row {
      margin-bottom: 100px;
   }

   .explore-product-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 48px 12px;
   
      .product {
         max-width: 282px;
         width: 282px;
         height: 404px;
         box-shadow: 39px 12px 59px 0 rgb(199, 199, 199, 0.6);

         
         .icon-sm {
            display: inline-block;   
         }
      }
   }

   .explore-all {
      bottom: -123px;
   }
}

