.explore-marketplace {
   margin-bottom: 246px;

   .container {
      position: relative;
      display: flex;
      flex-direction: column;
   }
   
   .section-title {
      margin-bottom: 65px;
   }
   
   .explore-btns-row {
      margin: 0 0 100px;
      @include btns-row;
   }

   .explore-all {
      bottom: -123px;
   }
}

.explore-product-row {
   display: flex;
   flex-direction: column;
   gap: 68px;
   
   .mobile-four,
   .desktop-four {
      display: flex;
      justify-content: space-between;

      .product {
         max-width: 282px;
         width: 282px;
         height: 404px;
         
         .icon-sm {
            display: inline-block;   
         }
      }
   }
}

