footer {
    background-color: $widjet-color;
    margin-top: auto;
}

.footer-top {
    display: flex;
    padding: 91px 0 25px;
    border-bottom: 1px solid $footer-color;
}

.footer-nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    .footer-nav-list {
        display: flex;
        gap: 70px;

        .footer-nav-item {
            a {
                color: #fff;
                text-decoration: none;
                font-size: 1.125rem;
                font-weight: 500;
            }
        }
    }
}

.footer-bottom {
    display: flex;
    padding: 57px 0 81px;
}

.copywrite {
    color: $footer-color;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.333;
}

.footer-social {
    display: flex;
    margin-left: auto;
    gap: 48px;

    a {
        display: flex;
        width: 22px;
        height: 22px;

        &:hover {
            color: #fff;
        }
    }
}