html {
  box-sizing: border-box;
  font-size: 16px;
  /* 1rem = 16px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
  color: #000;
  background-color: $background;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.875rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 0.75rem;
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* Наследовать шрифт от body */
  color: inherit;
  /* Наследовать цвет от body */
}

a {
  color: $footer-color;
  transition: 0.3s;

  &:hover {
    color: #000;
  }
}

input {
  transition: 0.3s;

  &:focus-visible {
    outline: none;
  }
}

.icon-svg,
img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 12px;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5;
  border: none;
  border-radius: 16px;
  color: #000;
  padding: 17px 26.5px;
  cursor: pointer;
  transition: 0.3s;

  &:focus,
  &:active:focus {
    box-shadow: none;
  }

  &.btn-primary {
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #000;
      outline: 2px solid #000;
    }
  }

  &.btn-secondary {
    background-color: #fff;
    color: #000;
    outline: 2px solid #000;

    &:hover {
      background-color: #000;
      color: #fff;
      outline: none;
    }
  }
}

.d-none {
  display: none;
}

.section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  color: $text-grey;
}

.icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-etherium {
  background-image: url(assets/img/icon-etherium.svg);
}

.icon-xs {
  width: 15px;
  height: 15px;
}

.icon-sm {
  width: 21px;
  height: 21px;
}

.icon-md {
  width: 31px;
  height: 31px;
}

.icon-lg {
  width: 44px;
  height: 44px;
}