@use 'sass/variables' as *;

html {
  box-sizing: border-box;
  font-size: 16px; /* 1rem = 16px */
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  color: #000;
}
 
a {
  transition: 0.3s;
}

input {
  transition: 0.3s;
  
  &:focus-visible {
    outline: none;
  }
}

.container {
  width: 100%;
  max-width: 1248px + 24px;
  margin: 0 auto;
  padding: 0 12px;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  border-radius: 16px;
  color: #000;
  border: 2px solid; /* border наследует значение свойства color */
  padding: 15px 26.5px;
  cursor: pointer;
  transition: 0.3s;

  &.btn-primery {
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &.btn-secondary {
    background-color: #fff;
    color: #000;
  
    &:hover {
        background-color: #000;
        color: #fff;
      }
  }
}

//  h1, h2, h3, h4, h5, h6 {
//    font-weight: 600;
//    line-height: 1.25;
//  }
 
//  h1 {
//    font-size: 3rem;
//  }
 
//  h2 {
//    font-size: 2.5rem;
//  }
 
//  h3 {
//    font-size: 2rem;
//  }
 
//  h4 {
//    font-size: 1.5rem;
//  }
 
//  h5 {
//    font-size: 1.25rem;
//  }
 
//  h6 {
//    font-size: 1.125rem;
//  }