html {
  box-sizing: border-box;
  font-size: 16px;  // 1rem = 16px
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: $font-primary;
  color: $widget-color;
  background-color: $background;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8125rem;
  line-height: 0.67;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.3125rem;
}

h6 {
  font-size: 1.125rem;
}

button,
input,
select,
textarea {
  font-family: inherit; // Наследовать шрифт от body
  color: inherit; // Наследовать цвет от body
}

input {
  transition: 0.3s;

  &:focus-visible {
    outline: none;
  }
}

a {
  color: $footer-color;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: #000;

    .arrow-container {
      background-color: #000;

      &::after {
        border-left-color: #000; // Цвет стрелки
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 12px;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border: none;
  border-radius: 16px;
  padding: 17px 26.5px;
  cursor: pointer;
  transition: 0.3s;

  &:focus,
  &:active:focus {
    box-shadow: none;
  }

  &.btn-primary {
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #000;
      outline: 2px solid #000;
    }
  }

  &.btn-secondary {
    background-color: #fff;
    color: #000;
    outline: 2px solid #000;

    &:hover {
      background-color: #000;
      color: #fff;
      outline: none;
    }
  }
}

.d-none {
  display: none;
}

img,
.icon-svg {
  width: 100%;
  height: auto;
}

.icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-etherium {
  background-image: url(assets/img/icon-etherium.svg);
}

.icon-xxs {
  width: 15px;
  height: 15px;
}

.icon-xs {
  width: 17px;
  height: 17px;
}

.icon-sm {
  width: 21px;
  height: 21px;
}

.icon-md {
  width: 31px;
  height: 31px;
}

.icon-lg {
  width: 44px;
  height: 44px;
}

.overflow-auto {
  overflow: auto;
}

.section-title {
  display: flex;
  justify-content: center;
}

.percent-totop {
  color: #10C352;
}

.percent-tobottom {
  color: #E23333;
}

.percent-zero {
  color: blue;
}

.explore-all {
  @include explore-all;
}

.btns-row {
  @include btns-row;
}

::-webkit-scrollbar {
  width: 12px; // ширина вертикального скрола
  height: 12px; // ширина горизонтального скрола

  &-thumb {
    background-color: $light-grey; // цвет ползунка
  }

  &-track {
    background-color: $weekly-bg; // цвет полосы прокрутки
  }
}