header {
	padding: 45px 0;
   .container {
	display: flex;
	align-items: center;
	}

	button {
		white-space: nowrap;
	}
}

.mobile-container {
	display: flex;
	align-items: center;
	width: 100%;
}

.nav-list {
	display: flex;
	padding: 0 30px;
}

.nav-item {
	margin: 0 27px;
	
	a {
		font-size: 1.125rem;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
		color: #606060;

		&:hover {
			color: #000;
			font-weight: 600;
		}
	}
}

form.header-search {
	width: 100%;
	max-width: 348px;
	margin-right: 30px;

	input[type='search'] {
		box-sizing: border-box;
		line-height: 18px;
		width: 100%;
		border: none;
		border-radius: 16px;
		padding: 20px 12px 20px 70px;
		margin-left: auto;
		background: url(assets/img/loupe.svg) 22px center no-repeat #EDEDED;

		&:hover {
			outline: 1px solid #606060;
		}
	
		&:focus {
			outline: 2px solid #000;
		}
	}
}

.btn-burger {
	display: none;
	margin-left: auto;

	&:active {
		background-color: #000;
		color: #fff;
	}
}

.btn.btn-burger {
	position: relative;

	span {
		display: block;
		width: 32px;
		height: 2px;
		background-color: #000;

		&::before,
		&::after  {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 32px;
			height: 2px;
			background-color: #000;
		}

		&::after {
			top: initial;
			bottom: 0;
		}
	}
}