@use 'sass/variables' as *;

header {
	padding: 45px 0;
   .container {
	display: flex;
	align-items: center;
	}
}

.nav-list {
	display: flex;
	padding: 0 30px;
}

.nav-item {
	margin: 0 27px;
	
	a {
		font-size: 1.125rem;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
		color: #606060;

		&:hover {
			color: #0000FF;
		}
	}
}

// form.header-search {
// 	width: 100%;
// 	margin-right: 30px;
	
input[type='search'] {
	max-width: 266px;
	width: 100%;
	border: none;
	border-radius: 16px;
	padding: 20px 12px 20px 70px;
	margin-right: 30px;
	margin-left: auto;
	background: url(assets/img/loupe.svg) 22px center no-repeat #EDEDED;

	&:hover {
		border: 1px solid #606060;
	}

	&:focus {
		border: 2px solid #000;
	}
}


// form.header-search {
// 	width: 100%;
// 	max-width: 348px;
// 	margin-right: 30px;

// 	input[type='search'] {
// 		width: 100%;
// 		border: none;
// 		border-radius: 16px;
// 		padding: 20px 12px 20px 70px;
// 		margin-right: 30px;
// 		background: url(assets/img/loupe.svg) 22px center no-repeat #EDEDED;
// 	}
// }