.join-the-community {
   margin-bottom: 238px;

   .container {
      position: relative;
      padding: 0 93px;
   }
   
   .solar-planet {
      display: flex;
      justify-content: center;

      .space {
         max-width: 100%;
         max-height: 100%;
      }
   }

   .community {
      position: absolute;
      text-align: center;
      left: calc(50% - 295px);
      top: calc(50% - 154px);

      .section-title {
         font-weight: 700;
         flex-direction: column;
         justify-content: center;
         margin-bottom: 31px;
   
         span {
            color: $light-grey;
         }
      }

      .community-text {
         margin-bottom: 49px;
         
         h6 {
            font-weight: 400;
            line-height: 1.78;
         }
      }

      .btn {
         padding: 18.5px;
      }

      .btn-primary {
         font-size: 0.93rem;
         font-weight: 500;
         line-height: 1.25;
      }
   }
}

.space.d-big {
   .planet-1 {
      offset-path: path("M893.491 323.991C803.991 177.491 670.991 122.18 538.991 119.991C374.525 117.264 250.491 194.993 170.491 323.991C92.5179 449.722 101.662 585.491 154.491 702.491C217.342 841.686 339.991 922.522 462.491 943.491C635.096 973.037 779.491 894.991 874.491 766.491C977.316 627.407 968.023 445.991 893.491 323.991Z");
      animation: solar 4s linear infinite;
      offset-anchor: 0% 2.5%;
   }
   
   .planet-2 {
      offset-path: path("M893.491 323.991C803.991 177.491 670.991 122.18 538.991 119.991C374.525 117.264 250.491 194.993 170.491 323.991C92.5179 449.722 101.662 585.491 154.491 702.491C217.342 841.686 339.991 922.522 462.491 943.491C635.096 973.037 779.491 894.991 874.491 766.491C977.316 627.407 968.023 445.991 893.491 323.991Z");
      animation: solar 7s linear infinite;
      offset-anchor: 0% 2.5%;
   }
   
   .planet-3 {
      offset-path: path("M893.491 323.991C803.991 177.491 670.991 122.18 538.991 119.991C374.525 117.264 250.491 194.993 170.491 323.991C92.5179 449.722 101.662 585.491 154.491 702.491C217.342 841.686 339.991 922.522 462.491 943.491C635.096 973.037 779.491 894.991 874.491 766.491C977.316 627.407 968.023 445.991 893.491 323.991Z");
      animation: solar 10s linear infinite;
      offset-anchor: 0% 2.5%;
   }
   
   .planet-4 {
      offset-path: path("M893.491 323.991C803.991 177.491 670.991 122.18 538.991 119.991C374.525 117.264 250.491 194.993 170.491 323.991C92.5179 449.722 101.662 585.491 154.491 702.491C217.342 841.686 339.991 922.522 462.491 943.491C635.096 973.037 779.491 894.991 874.491 766.491C977.316 627.407 968.023 445.991 893.491 323.991Z");
      animation: solar 12s linear infinite;
      offset-anchor: 0% 3%;
   }
   
   .planet-5 {
      offset-path: path("M984.833 262.928C870.865 76.3182 701.506 5.86023 533.42 3.0757C333.991 -0.228082 165.009 104.889 73.9901 262.928C-3.50948 397.493 -23.465 596.022 43.8067 745.055C123.84 922.359 280.018 1025.33 436.007 1052.04C655.798 1089.67 875.989 982.471 984.833 810.487C1087.99 647.487 1079.74 418.329 984.833 262.928Z");
      animation: solar 15s linear infinite;
      offset-anchor: 0% 2.3%;
   }
   
   .planet-6 {
      offset-path: path("M984.833 262.928C870.865 76.3182 701.506 5.86023 533.42 3.0757C333.991 -0.228082 165.009 104.889 73.9901 262.928C-3.50948 397.493 -23.465 596.022 43.8067 745.055C123.84 922.359 280.018 1025.33 436.007 1052.04C655.798 1089.67 875.989 982.471 984.833 810.487C1087.99 647.487 1079.74 418.329 984.833 262.928Z");
      animation: solar 20s linear infinite;
      offset-anchor: 0% 2.3%;
   }
   
   .planet-7 {
      offset-path: path("M984.833 262.928C870.865 76.3182 701.506 5.86023 533.42 3.0757C333.991 -0.228082 165.009 104.889 73.9901 262.928C-3.50948 397.493 -23.465 596.022 43.8067 745.055C123.84 922.359 280.018 1025.33 436.007 1052.04C655.798 1089.67 875.989 982.471 984.833 810.487C1087.99 647.487 1079.74 418.329 984.833 262.928Z");
      animation: solar 25s linear infinite;
      offset-anchor: 0% 3%;
   }
   
   .planet-8 {
      offset-path: path("M984.833 262.928C870.865 76.3182 701.506 5.86023 533.42 3.0757C333.991 -0.228082 165.009 104.889 73.9901 262.928C-3.50948 397.493 -23.465 596.022 43.8067 745.055C123.84 922.359 280.018 1025.33 436.007 1052.04C655.798 1089.67 875.989 982.471 984.833 810.487C1087.99 647.487 1079.74 418.329 984.833 262.928Z");
      animation: solar 30s linear infinite;
      offset-anchor: 0% 3%;
   }
   
   @keyframes solar {
      from {
          offset-distance: 100%;
      }
   }
}

