.product {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 253px;
   background-color: #fff;
   border-radius: 24px;
   padding: 14px 14px 20px;
   box-shadow: 20px 30px 24px 0 rgb(199, 199, 199, 0.6);

   &-img {
      width: 100%;
      margin-bottom: 19px;
      position: relative;
   }

   &-title {
      font-size: 1.3125rem;
      font-weight: 600;
      line-height: 1.43;
      margin-bottom: 15px;
   }

   &-bid-title {
      font-size: 0.875rem;
      line-height: 1.5;
      color: $text-grey;
      margin-bottom: 5px;
   }

   &-bid {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5625;

      i {
         margin-right: 3px;
      }
   }

   .btn {
      font-size: 0.875rem;
      margin: -52px 0 0 auto;
      padding: 15.5px 25px;
   }

   .icon-xxs {
      display: none;
   }

   .product-timer {
      font-size: 0.885rem;
      font-weight: 500;
      line-height: 1.5;
      color: #fff;
      background-color: $footer-color;
      padding: 7px 10px;
      border: 1px solid $header-color;
      border-radius: 10px;
      opacity: 0.7;
      box-shadow: 0 5px 14px 0 rgba(28, 29, 32, 0.15);
      position: absolute;
      top: 14px;
      right: 9px;
   }
}
