.product {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 253px;
   background-color: #fff;
   border-radius: 24px;
   padding: 14px 14px 20px;
   box-shadow: 20px 30px 24px 0 rgb(199, 199, 199, 0.8);

   &-img {
      width: 100%;
      margin-bottom: 19px;
   }

   &-title {
      font-size: 1.3125rem;
      font-weight: 600;
      line-height: 1.43;
      color: $widget-color;
      margin-bottom: 15px;
   }

   &-bid-title {
      font-size: 0.875rem;
      line-height: 1.5;
      color: $text-grey;
      margin-bottom: 5px;
   }

   &-bid {
      display: flex;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5625;

      i {
         margin-right: 3px;
      }
   }

   .btn {
      font-size: 0.875rem;
      margin: -52px 0 0 auto;
      padding: 15.5px 25px;
   }
}

.product .icon-xxs {
   display: none;
}