.sell {
   margin: 155px 0 210px;
   
   .section-title {
      margin-bottom: 153px;
   }
   
   fieldset {
      width: 100%;
      display: flex;
      flex-direction: column;
   }
}

.form-registration {
   display: flex;
   justify-content: space-between;
   gap: 24px;
   color: #000;

   .left {
      flex: 1 1 702px;
      max-width: 702px;
   }

   h5 {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.25;
      margin-bottom: 20px;
   }
   
   input {
      width: 100%;
      font-size: 0.84rem;
      font-weight: 500;
      line-height: 1.25;
      background: $weekly-bg url(assets/img/pen.png) no-repeat right 26px center;
      background-size: 20px 20px;
      margin-bottom: 35px;
      border: none;
      border-radius: 12px;
      padding: 23px 26px;
      
      &::placeholder {
         font-size: 0.84rem;
         color: $text-grey;
      }

      &:hover {
         outline: 1px solid $footer-color;
      }

      &:focus {
         outline: 1.5px solid #000;
      }
   }

   .description {
      width: 100%;
      height: 165px;
      font-size: 0.84rem;
      font-weight: 500;
      line-height: 1.25;
      background: $weekly-bg url(assets/img/pen.png) no-repeat right 26px top 23px;
      border: none;
      border-radius: 12px;
      padding: 23px 26px;
      margin-bottom: 35px;
      resize: none;
   }

   .nice-select {
      height: 63px;
      font-size: 0.84rem;
      font-weight: 500;
      color: $text-grey;
      background-color: $weekly-bg;
      border-radius: 12px;
      border: none;
      padding: 11px 26px;

      &.selected {
         font-weight: 600;
         color: $widget-color;
      }

      &:after {
         border-bottom: 2px solid $text-grey;
         border-right: 2px solid $text-grey;
         border-radius: 2px;
         width: 8px;
         height: 8px;
         margin-top: -6px;
         right: 29px;
      }

      &:hover {
         outline: 1px solid $footer-color;
      }

      &:focus {
         color: #000;
         font-weight: 600;
         outline: 1.5px solid #000;
      }

      .list {
         width: 100%;
         outline: 1.5px solid $light-grey;
         border-radius: 12px;

         .option {
            font-weight: 500;
            color: $text-grey;
            text-align: center;
            border-bottom: 1.5px dashed $light-grey;

            &:last-child {
               border-bottom: none;
            }

            &.selected {
               font-weight: 600;
               color: $widget-color;
            }

            &:hover {
               background-color: $weekly-bg;
            }
         }
      }
   }

   .sizing {
      display: flex;
      flex-direction: row;
      gap: 35px;

      .nice-select {
         width: 147px;
      }

      .size {
         width: 131px;

         input {
            padding: 23px 22px;
            background: none;
            background-color: $weekly-bg; 
         }
      }
   }

   .price-in-stock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 35px;
      margin-bottom: 70px;

      .price-crypto {
         max-width: 492px;
         width: 100%;

         .joint {
            display: flex;
            flex-direction: row;
            gap: 1.5px;
            border-radius: 12px;
            background-color: $weekly-bg;
            position: relative;

            &::before {
               content: "";
               width: 1px;
               height: 39px;
               position: absolute;
               top: 12px;
               left: 96px;
               background-color: $text-grey;
            }
            
            &:hover {
               outline: 1.5px solid #000;
            }
            
            .nice-select {
               width: 96px;
               flex-shrink: 0;
               border-radius: 12px 0 0 12px;

               &:hover {
                  outline: none;
               }
            }
            
            .etc {
               border-radius: 0 12px 12px 0;
               outline: none;
               margin: 0;

               &:focus {
                  outline: 1.5px solid #000;
               }
            }
         }
      }

      .in-stock  {
         width: 171px;
         
         .nice-select {
            width: 100%;
         }
      }
   }

   [data-display] {
      display: none;
   }

   .on-sale {
      margin-bottom: 110px;

      h5 {
         margin-bottom: 12px;
      }

      .put-on-sale {
         margin-bottom: 40px;
      }
   }

   .toggle-checkbox {
      position: relative;

      [type='checkbox'] {
         display: none;
   
         &:checked {
            + label {
               &::before {
                  background: #000;
                  transition: 0.4s;
               }
      
               &::after {
                  right: 6px;
                  background-color: #fff;
                  transition: 0.4s;
               }
            }
         }
      }

      label {
         font-size: 0.84rem;
         line-height: 1.25;
         color: $text-grey;

         &::before {
            content: "";
            position: absolute;
            right: 0;
            top: -25px;
            width: 55px;
            height: 30px;
            border-radius: 30px;
            background-color: $light-grey;
            transition: 0.4s;
         }

         &::after {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            right: 30px;
            top: -20px;
            border-radius: 50%;
            background-color: #000;
            transition: 0.4s;
         }
      }
   }

   button {
      width: 100%;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.16;
      color: #fff;
      background-color: #000;
      border-radius: 12px;
      border: none;
      padding: 24px;
   }

   .right {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;

      #drop-zone {
         margin-bottom: 57px;

         label {
            width: 468px;
            min-height: 413px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #fff;
            border-radius: 31px;
            padding: 82px 9px;
            box-shadow: 0 82px 82px -62px rgba(15, 15, 15, 0.1), 
            0 -60px 80px 0 rgba(0, 0, 0, 0.05);
            transition: 0.4s;
            cursor: pointer;

            img {
               width: 51px;
               height: 51px;
               margin-bottom: 13px;
            }

            span {
               font-size: 0.96rem;
               line-height: 1.67;
               color: $footer-color;
            }

            [data-for-dropzone] {
               p {
                  font-weight: 600;
                  color: #10C352;
               }
            }
         }
      }

      button {
         width: 327px;
         font-size: 0.9375rem;
         line-height: 1.53;
         border-radius: 16px;
         padding: 20px;
      }
   }
}