.stats {
   margin: 155px 0 200px;

   .section-title {
      margin-bottom: 45px;
   }

   .btns-row {
      margin-bottom: 128px;

      > :first-child {
         display: none;
      }
   }

   .overflow-auto {
      margin-bottom: 109px;
   }

   table {
      width: 100%;
      min-width: 989px;
      text-align: left;
      border-collapse: collapse;
   }

   th {
      padding: 23px 0;

      &:last-child {
         text-align: right;
      }
   }

   td {
      padding: 34px 0;
      vertical-align: middle;

      &:last-child {
         text-align: right;
      }
   }

   .header-tab {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.5;

      .icon-svg {
         width: 20px;
         height: 20px;
         margin-left: 15px;

         use {
            stroke: $footer-color;
         }
      }
   }

   .user {
      border-bottom: 2px solid $light-grey;

      .user-info {
         display: flex;

         img {
            width: 75px;
            border-radius: 50%;
            margin-right: 24px;
         }

         .user-data {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .user-name {
               font-size: 1.63rem;
               line-height: 1.4;
               font-weight: 500;
            }

            .user-nickname {
               font-size: 1.33rem;
               line-height: 1.5;
               text-align: left;
            }
         }
      }

      .volume,
      .price,
      .stats__percent,
      .owners,
      .items {
         font-size: 1.38rem;
         font-weight: 500;
         line-height: 1.4;
      }

      .volume,
      .price {
         font-size: 1.43rem;
         font-weight: 600;

         .icon {
            vertical-align: middle; // Выравниваем иконку по вертикали
            margin-right: 3px;
         }
      }

      .stats__percent {
         font-size: 1.43rem;
      }
   }

   .spinner {
      margin: 0 auto;
      @include spinner;
   }
}