// .tabs {
//    display: flex;
//    flex-direction: column;
//    border: 1px solid #000;
//    padding: 24px;

//    &__nav,
//    &__content,
//    &__button {
//       border: 1px solid #401fb9;
//       padding: 12px;
//    }

//    &__nav {
//       display: flex;
//    }
// }

.tabs {
   &__nav {
      display: flex;
   }
   &__button {
      width: 100%;
      color: $text-grey;
      border: none;
      border-bottom: 3px solid transparent;
      
      &.active {
         border-bottom: 3px solid #000;
         border-radius: 2px;
         color: #000;
      }
   }
}

.tabs__content {
   display: none;

   &.active {
      display: block;
   }
}