.tabs {
   display: flex;
   flex-direction: column;
   width: 673px;
   height: 890px;
   margin-left: auto;

   &__nav {
      height: 44px;
      display: flex;
      margin-bottom: 86px;
   }
   
   &__button {
      width: 100%;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.56;
      text-align: center;
      color: $text-grey;
      border-bottom: 3px solid transparent;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {
         margin-right: 7px;
         fill: $text-grey;
      }
      
      &.active {
         background-color: $weekly-bg;
         color: #000;
         border-bottom: 3px solid $widget-color;

         svg {
            fill: $widget-color;
         }
      }
   }

   &__content { 
      display: none;

      &.active {
         display: flex;
      }
   }
}

.collection {
   flex-wrap: wrap;
   gap: 30px;

   .product {
      max-width: 204px;
      height: 292px;
      border-radius: 17px;
      padding: 10px 10px 15px;
   
      &-img {
         margin-bottom: 14px;
      }
   
      &-title {
         font-size: 0.96rem;
         margin-bottom: 10px;
      }
   
      &-bid-title {
         font-size: 0.63rem;
         margin-bottom: 3px;
      }
   
      &-bid {
         display: flex;
         font-size: 0.75rem;
   
         i {
            margin-right: 2px;
         }
      }
   
      .btn {
         font-size: 0.63rem;
         margin: -37px 0 0 auto;
         padding: 11px 19px;
      }

      .icon-sm {
         display: none;
      }   

      .icon-xxs {
         display: block;
      }   
   }
}

.activity {
   flex-wrap: wrap;
   gap: 42px;

   .user {
      width: 100%;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 19px 12px 64px 0 rgb(97, 97, 97, 0.25);
      padding: 15px 15px 20px;

      .first-row,
      .second-row {
         display: flex;
         justify-content: space-between;
      }
      
   }
}

.first-row {
   padding-bottom: 17px;
   border-bottom: 1px solid $text-grey;

   .user-info {
      display: flex;
      align-items: center;

      img {
         width: 68px;
         height: 68px;
         border-radius: 12px;
         margin-right: 12px;
      }

      .user-name {
         font-size: 1.0625rem;
         font-weight: 600;
         line-height: 1.59;
      }

      .user-nickname {
         font-size: 0.755rem;
         line-height: 1.5;

         i {
            padding-right: 6px;
         }

         img {
            width: 13px;
            height: 13px;
            margin-bottom: 2px;
         }
      }
   }

   .sales {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      padding-right: 26px;

      .sale {
         font-size: 0.755rem;
         line-height: 1.5;
         color: $percent;
      }

      .price {
         display: flex;
         align-items: center;

         .icon-etherium {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            margin-right: 7px;
         }
      }

      .time-ago {
         font-size: 0.755rem;
         line-height: 1.5;
         color: $light-grey;
      }
   }
}

.second-row {
   padding-top: 18px;

   .usd-price,
   .quantity,
   .floor-price,
   .traded {
      text-align: center;

      .title {
         font-size: 0.71rem;
         line-height: 1.23;
         color: $text-grey;
      }
         
      .numbers {
         font-size: 1rem;
         font-weight: 500;
         line-height: 1.44;
         color: $widget-color;
      }
   }

   .floor,
   .trade {
      display: flex;
      align-items: center;
      justify-content: center;
      
      .icon-etherium {
         margin-right: 4px;
      }
   }
}