///fonts///
$font-primary: 'Poppins';
$font-secondary: 'monospace';

///colors///
$background: #eeeeee;
$footer-bg: #141416;
$header-color: #606060;
$footer-color: #707070;
$text-grey: #929292;
$light-grey: #c5c5c5;
// $color:      #979797;
