.wallet {
   display: flex;

   .choose-wallet,
   .start-gallery {
      flex: 1;
   }

   header {
      .mobile-container,
      .burger {
         display: none;
      }
   }

   main {
      .choose {
         max-width: 395px;
         max-height: 632px;
         margin: 73px auto 148px;

         .section-title {
            line-height: 1.25;
            margin-bottom: 106px;
         }

         .link {
            color: $widget-color;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 5px 10px 50px 0 rgba(15, 15, 15, 0.1);
            padding: 23px 29px;
            margin-bottom: 35px;
            display: flex;
            gap: 19px;
            align-items: center;

            img {
               width: 39px;
               height: 39px;
            }

            .choosing {
               font-size: 1.13rem;
               font-weight: 600;
               line-height: 1.54;
            }

            span {
               width: 7.5px;
               height: 7.5px;
               border-bottom: 2px solid #000;
               border-right: 2px solid #000;
               border-radius: 1px;
               rotate: -45deg;
            }
         }

         .btn {
            width: 100%;
            font-size: 1.125rem;
            padding: 24px;
            margin-top: 45px;
         }
      }
   }

   footer {
      background-color: $background;
      margin-bottom: 48px;

      .container {
         display: flex;
         justify-content: space-between;
         padding: 0 48px;
      }

      .footer-top {
         border: none;
         padding: 0;

         .logotype {
            display: none;
         }

         .footer-nav-item {
            a {
               font-size: 1rem;
               font-weight: 500;
               line-height: 1.5;
               color: $text-grey;
            }

            &:nth-child(n+2) {
               display: none;
            }
         }
      }

      .footer-bottom {
         padding: 0;

         .footer__social {
            display: none;
         }
      }

      .copywrite {
         font-size: 1rem;
         line-height: 1.5;
         color: $text-grey;
      }
   }
   
   .start-gallery {
      background-color: $widget-color;
      text-align: center;

      .create-slide {
         width: 391px;
         height: 419px;
         margin: 120px auto 65px;

         img {
            &:last-child {
               filter: blur(30px);
               opacity: 0.5;
               margin-top: calc(-100% + 24px);
            }
         }
      }

      .section-title {
         max-width: 424px;
         color: #fff;
         margin: 0 auto 20px;
      }

      p {
         font-size: 1.04rem;
         line-height: 1.71;
         color: $text-grey;
         max-width: 407px;
         margin: 0 auto 64px;
      }

      .wallet-slider-navigation {
         @include slider-nav;
         width: 182px;
         height: 76px;
         margin-left: calc(50% - 91px);
     
         &::after {
             @include slider-nav-separator;
         }
      }
     
      .swiper-button-prev,
      .swiper-button-next {
         @include slider-nav-half;
         width: 72px;
         height: 69px;
         top: 26px;
      }
  
      .swiper-button-prev {
         left: 0;
      }
  
      .swiper-button-next {
         right: 0;
      }
   }
}
