.weekly {
   position: relative;
   background-color: $weekly-bg;
   
   .container {
      position: relative;
      max-width: 1440px;
      padding: 0;
   }

   .section-title {
      line-height: 0.6;
      margin-top: 57px;
   }

   &-slider-navigation {
      @include slider-nav;
      margin-top: 0;
      margin-bottom: 103px;
      margin-left: calc(50% - 83px);
      box-shadow: 0 43px 24px 0 rgba(15, 15, 15, 0.15);

      &::after {
         @include slider-nav-separator;
      }
   }

   &-button-prev,
   &-button-next {
      @include slider-nav-half;
      margin: 22px;
   }

   &-button-next {
      margin-left: 48px;
   }
}

.carousel-weekly {
   width: 100%;
   overflow: hidden;
   margin: 0 0 115px;

   .swiper-slide {
      width: 281px;
   }
}

.product .icon-xxs {
   display: none;
}