.weekly {
   position: relative;
   background-color: $weekly-bg;
   margin-bottom: 224px;
   
   .container {
      position: relative;
      max-width: 1440px;
      padding: 0;

      .section-title {
         line-height: 0.6;
         color: $text-grey;    
         margin: 57px 0 100px;
      }   

      .widget {
         position: absolute;
         right: 60px;
         bottom: -100px;
      }
   }
}

.weekly {
   .carousel-weekly {
      width: 100%;
   
      .swiper-slide {
         width: 281px;
      }
   }
   
   .swiper-wrapper {
      padding-bottom: 115px;
   }

   &-slider-navigation {
      @include slider-nav;
      margin-top: 0;
      margin-bottom: 103px;
      margin-left: calc(50% - 83px);

      &::after {
         @include slider-nav-separator;
      }
   }

   &-button-prev,
   &-button-next {
      @include slider-nav-half;
      margin: 22px;
   }

   &-button-next {
      margin-left: 48px;
   }
}
