.widget {
   position: absolute;
   right: 60px;
   bottom: -100px;
   width: 365px;
   background-color: #fff;
   color: $widget-color;
   border-radius: 16px;
   padding: 24px 26px 21px;
   z-index: 2;

   &__title {
      display: flex;
      padding-right: 36px;
      margin-bottom: 34px;

      h4 {
         line-height: 1.333;
      }
   }
}

.layout-menu {
   position: absolute;
   top: 19px;
   right: 26px;
   display: flex;
   flex-direction: column;

   .layout-case {
      display: none;
   }

   &.show .layout-case {
      display: flex;
   }
}

.layout-case__button {
   width: 36px;
   height: 20px;
   font-size: 0;
   line-height: 0;
   border: none;
   background-color: inherit;
   color: $text-grey;
   align-self: flex-end;

   &:hover {
      color: $widget-color;
   }

   svg {
      width: inherit;
      height: inherit;
   }
}

.layout-case {
   display: none;
   gap: 12px;
   padding: 0;

   &.show {
      display: flex;
   }

   &__item {
      .icon-svg {
         width: 48px;
         height: 48px;

         use {
            stroke: $footer-color;
         }
      }

      &.active .icon-svg use {
         stroke: #000;
      }
   }
}

.widget-users-list {
   max-height: 213px;
   padding: 0 12px 0 0;
   overflow: auto;
   counter-reset: widgetcount;

   &__item {
      margin-bottom: 33px;
      position: relative;

      &::before {
         counter-increment: widgetcount;
         content: counter(widgetcount) ".";
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         top: 28px;
         left: 31px;
         width: 21px;
         height: 21px;
         border-radius: 50%;
         background-color: $background;
         font-size: 0.72rem;
         font-weight: 700;
      }

      .widget-user {
         display: flex;

         &__avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 49px;
            height: 49px;
            margin-right: 15px;

            img {
               width: 45px;
               height: 45px;
               border-radius: 50%;
            }
         }

         &__volume {
            margin-left: auto;

            .widget-user__price {
               display: flex;
               align-items: center;
               font-size: 0.96rem;
               font-weight: 600;
               line-height: 1.4;
               margin-bottom: 7px;
            }

            .widget-user__percent {
               font-size: 0.84rem;
               line-height: 1.5;
               text-align: right;
            }
         }
      }
   }
}

.widget-user__data {

   .widget-user__name {
      font-size: 0.96rem;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 8px;
   }

   .widget-user__nickname {
      font-size: 0.78rem;
      line-height: 1.5;
      color: $footer-color;
   }
}

.widget.grid {
   .widget-users-list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
   }
   
   .widget-users-list__item {
      width: calc(50% - 12px);
      margin: 0;

      .widget-user__avatar {
         margin: 0;
      }

      &::before {
         left: 72px;
      }
   }

   .widget-user {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .widget-user__data {
         margin-bottom: 8px;
      }

      .widget-user__name {
         margin: 0;
      }
   }

   .widget-user__volume {
      margin: 0;

      .widget-user__percent {
         text-align: center;
      }
   }
}
