.your-inner-collector {
   margin-bottom: 246px;
   
   .container {
      position: relative;
      display: flex;
   }
}

.collector {
   min-width: 340px;
   border-top: 1px solid $light-grey;
   padding-top: 116px;

   .section-title {
      flex-direction: column;
      justify-content: left;
      margin-bottom: 45px;

      span {
         color: $light-grey;
      }
   }

   .seller {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 70px;

      li {
         font-size: 1rem;
         line-height: 2;
         
         img {
            width: 20px;
            margin-right: 12px;
         }
      }
   }
   
   .btn {
      position: relative;
      font-size: 0.93rem;
      font-weight: 500;
      line-height: 1.25;
      padding: 19px 14px 18px 18px;

      svg {
         width: 22px;
         height: 22px;
         vertical-align: middle;
         margin-left: 9px;
      }
   }
}

.widgets {
   display: flex;
   align-items: flex-start;
   padding-top: 116px;

   &::before {
      content: "";
      position: absolute;
      right: -58px;
      bottom: 0;
      width: 402px;
      height: 174px;
      background: url(assets/img/banner-dot.svg);
   }

   .widget {
      position: relative;
      width: 322px;
      background-color: #fff;
      border-radius: 14px;
      padding: 21px;
      margin: auto -144px -55px 0;
      box-shadow: 9px 9px 44px 0 rgba(20, 20, 22, 0.15);
      z-index: 2;

      &__title h5 {
         font-size: 1.16rem;
      }

      .widget-users-list {
         max-height: 142px;
      }
   }
   
   .best-sellers {
      width: 322px;
      background-color: #fff;
      padding: 26px 18px;
      border: 1px solid $weekly-bg;
      border-radius: 14px;
      box-shadow: 6px 6px 31px 0 rgba(20, 20, 22, 0.15);
      z-index: 1;
      
      .section-title {
         justify-content: space-between;
         margin-bottom: 23px;
         
         h6 {
            font-size: 1.158rem;
            line-height: 1.35;
         }
      }

      .layout-case__button {
         width: 32px;
         height: 20px;
         border: none;
         background-color: inherit;
         color: #929292;
         align-self: flex-end;

         &:hover {
            color: $widget-color;
         }
      
         svg {
            width: inherit;
            height: inherit;
         }
      }
   }
}

.best-seller-list {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 2px 0;
   overflow: auto;
   counter-reset: widgetcount;

   &__item {
      padding: 0 2px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::before {
         counter-increment: widgetcount;
         content: counter(widgetcount) "";
         position: absolute;
         top: -2px;
         left: 40px;
         width: 21px;
         height: 21px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 0.66rem;
         font-weight: 600;
         background-color: $widget-color;
         color: $background;
         border-radius: 50%;
      }

      .best-seller-user {
         display: flex;
         align-items: center;

         &__avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55px;
            height: 55px;
            margin-right: 11px;

            img {
               border-radius: 50%;
            }
         }

         .best-seller-user__data {
            .best-seller-user__name {
               font-size: 0.77rem;
               font-weight: 500;
               line-height: 1.72;
            }
         
            .best-seller-user__nickname {
               font-size: 0.66rem;
               line-height: 1.67;
               color: $footer-color;
            }
         }
      }

      .btn {
         font-size: 0.77rem;
         line-height: 1.15;
         background-color: $background;
         color: $widget-color;
         padding: 7px 8px;
         border-radius: 7px;
         outline: 2px solid $light-grey;

         &.unfollow {
            background-color: $light-grey;
            color: inherit;
            outline: none;
         }
      }
   }
}

.rotation {
   width: 322px;
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   box-shadow: 0 19px 28px 0 rgba(70, 70, 70, 0.15);
   border-radius: 14px;
   padding: 11px;
   margin: -38px 0 0 -144px;
   z-index: 1;

   .rotation-everything {
      display: flex;

      .circle-avatar {
         display: flex;
         position: relative;
         margin-right: 14px;
         margin-top: 2px;

         .circle-wrapper {
            margin-right: 22px;

            .circle {
               width: 8px;
               height: 8px;
               background-color: black;
               border-radius: 50%;
               position: absolute;
               top: 17px;
            }
         }
      
         .user-avatar-round {
           width: 40px;
           height: 40px;
           border-radius: 50%;
         }

         .verified {
            position: absolute;
            top: -3px;
            right: -3px;
            width: 17px;
            height: 17px;
         }
      }
   
      .section-info {
         .new-bid {
            font-size: 0.84rem;
            font-weight: 500;
            line-height: 1.7;

            span {
               color: $text-grey;
            }
         }

         .fluctuation,
         .date {
            font-size: 0.72rem;
            font-weight: 600;
            line-height: 1.67;
         }

         .date {
            color: $text-grey;
            font-weight: inherit;
         }
      }
   }
   
   .user-avatar-rectangular {
      width: 61px;
      height: 61px;
      border-radius: 11px;
   }
}
