<section class="asked-questions">
   <div class="container">
      <h2 class="section-title">Frequently Asked<span>Questions</span></h2>
      <div class="accordion">
         <div class="accordion-item">
            <button class="accordion-item__button">What is an NFT?</button>
            <div class="accordion-item__content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vitae nam. Consectetur molestias repellendus animi itaque id culpa fugit facilis labore libero veritatis. Est hic necessitatibus ipsa vero quisquam illo?</p>
               <ul>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ratione iure perferendis voluptate tempora quam quod expedita blanditiis culpa? Aliquam cupiditate natus consectetur atque adipisci voluptatibus, recusandae cum ab voluptatum.</li>
                  <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, quia tenetur. Voluptates dolor ipsam explicabo aliquam ea pariatur dicta! Ea, quas.
                     <ol>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, consectetur quo quaerat dolorum, eveniet nulla quos delectus, facilis quae libero explicabo quam sed quia reprehenderit expedita voluptatibus maxime?</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quasi tenetur rem nostrum aliquam. Corporis vero veniam sapiente amet consequatur hic officiis eaque.</li>
                     </ol>
                  </li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, aspernatur laudantium expedita numquam, tempore maxime laborum atque minima alias omnis illo est ipsa eligendi? Molestiae ipsa distinctio saepe ea unde.</li>
               </ul>
            </div>
         </div>
         <div class="accordion-item">
            <button class="accordion-item__button">What can I use NFTs for?</button>
            <div class="accordion-item__content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vitae nam. Consectetur molestias repellendus animi itaque id culpa fugit facilis labore libero veritatis. Est hic necessitatibus ipsa vero quisquam illo?</p>
               <ol>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt inventore accusamus, tempora aperiam, tempore odit aliquam neque earum similique sit reprehenderit, quod blanditiis praesentium eaque. Eius soluta dignissimos ut.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, modi sapiente? Dignissimos, dolorem illum! Corporis quae sed nihil, assumenda numquam accusamus, maxime sapiente velit doloribus praesentium iste eos, ea aut!</li>
                  <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus veritatis, esse eligendi exercitationem illo nemo blanditiis id pariatur alias cumque distinctio velit facilis, ratione similique, error et! Ullam, voluptates quas.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non porro explicabo rerum eum, quae, blanditiis animi ullam tempora, cum eos aliquam laborum magnam accusamus voluptatem voluptas necessitatibus soluta dicta nulla.
                     <ul>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic expedita sed doloremque.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi quidem corrupti qui perspiciatis nesciunt fuga.</li>
                     </ul>
                  </li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt animi error, rerum possimus quae architecto debitis! Vitae libero iure officiis nihil facere natus, consequatur reiciendis illo maxime laudantium esse mollitia!</li>
               </ol>
            </div>
         </div>
         <div class="accordion-item">
            <button class="accordion-item__button">What is the difference between an NFT and cryptocurrency?</button>
            <div class="accordion-item__content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vitae nam. Consectetur molestias repellendus animi itaque id culpa fugit facilis labore libero veritatis. Est hic necessitatibus ipsa vero quisquam illo?</p>
               <ol>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt animi error, rerum possimus quae architecto debitis! Vitae libero iure officiis nihil facere natus, consequatur reiciendis illo maxime laudantium esse mollitia!</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt animi error, rerum possimus quae architecto debitis! Vitae libero iure officiis nihil facere natus, consequatur reiciendis illo maxime laudantium esse mollitia!</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perferendis nesciunt est perspiciatis ut amet, voluptate dignissimos sapiente cupiditate saepe, laborum voluptates placeat? Id placeat harum atque, deleniti qui voluptatum?</li>
               </ol>
            </div>
         </div>
         <div class="accordion-item">
            <button class="accordion-item__button">How much is an NFT worth?</button>
            <div class="accordion-item__content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vitae nam. Consectetur molestias repellendus animi itaque id culpa fugit facilis labore libero veritatis. Est hic necessitatibus ipsa vero quisquam illo?</p>
               <ol>
                  <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero unde necessitatibus dolore hic qui dolorem debitis exercitationem et explicabo excepturi, enim dolores, quia eum eos alias! Est impedit libero nemo?</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsam magnam, sequi a expedita dolore accusamus cum minima quo ipsa enim accusantium omnis recusandae suscipit cupiditate vero repellat voluptas corrupti.</li>
               </ol>
            </div>
         </div>
         <div class="accordion-item">
            <button class="accordion-item__button">How do I purchase an NFT on your platform?</button>
            <div class="accordion-item__content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vitae nam. Consectetur molestias repellendus animi itaque id culpa fugit facilis labore libero veritatis. Est hic necessitatibus ipsa vero quisquam illo?</p>
               <ul>
                  <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat impedit commodi veniam unde obcaecati autem nesciunt natus. Beatae, laboriosam. Modi, quibusdam doloremque fugit maxime consequuntur distinctio a blanditiis voluptate in!</li>
                  <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat impedit commodi veniam unde obcaecati autem nesciunt natus. Beatae, laboriosam. Modi, quibusdam doloremque fugit maxime consequuntur distinctio a blanditiis voluptate in!</li>
                  <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat impedit commodi veniam unde obcaecati autem nesciunt natus. Beatae, laboriosam. Modi, quibusdam doloremque fugit maxime consequuntur distinctio a blanditiis voluptate in!</li>
                  <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat impedit commodi veniam unde obcaecati autem nesciunt natus. Beatae, laboriosam. Modi, quibusdam doloremque fugit maxime consequuntur distinctio a blanditiis voluptate in!</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>