<section class="create-and-sell">
   <div class="container">
      <div class="create-box">
         <div class="create">
            <h2 class="title">Create and Sell NFTs</h2>
            <p class="place">World’s Largest NFT Place</p>
            <div class="create-btns-row">
               <a href="collection-activity.html" class="btn btn-secondary">Explore More</a>
               <a href="sell.html" class="btn btn-primary">Sell Artwork</a>
            </div>
         </div>
         <div class="create-slide">
            <img src="assets/img/icon-slide.png" alt="slide">
            <img src="assets/img/icon-slide.png" alt="slide">
         </div>
      </div>
   </div>
</section>
