<header>
    <div class="container">
        <a href="index.html">
            <picture>
                <source media="(min-width: 1024.9px)" srcset="assets/img/logo.svg">
                <img src="assets/img/logo-header-mobile.svg" alt="logo">
            </picture>
        </a>
        <div class="mobile-container">
            <nav class="header-nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#">discover</a></li>
                    <li class="nav-item"><a href="#">creators</a></li>
                    <li class="nav-item"><a href="#">sell</a></li>
                    <li class="nav-item"><a href="#">stats</a></li>
                <ul>
            </nav>
            <form class="header-search">
                <input type="search" placeholder="Search Art Work / Creator">
            </form>
            <button type="button" class="btn btn-primery">Connect Wallet</button>
        </div>
        <button type="button" class="btn btn-burger"><span></span></button>
    </div>
</header>
