<section class="join-the-community">
   <div class="container">
      <section class="solar-planet">
         <svg class="space" viewBox="-38 -38 1140 1140" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="orbit1" d="M893.491 323.991C803.991 177.491 670.991 122.18 538.991 119.991C374.525 117.264 250.491 194.993 170.491 323.991C92.5179 449.722 101.662 585.491 154.491 702.491C217.342 841.686 339.991 922.522 462.491 943.491C635.096 973.037 779.491 894.991 874.491 766.491C977.316 627.407 968.023 445.991 893.491 323.991Z" stroke="#c5c5c5" stroke-width="2"/>
            <path id="orbit2" d="M984.833 262.928C870.865 76.3182 701.506 5.86023 533.42 3.0757C333.991 -0.228082 165.009 104.889 73.9901 262.928C-3.50948 397.493 -23.465 596.022 43.8067 745.055C123.84 922.359 280.018 1025.33 436.007 1052.04C655.798 1089.67 875.989 982.471 984.833 810.487C1087.99 647.487 1079.74 418.329 984.833 262.928Z" stroke="#c5c5c5" stroke-width="2"/>
            <g>             
               <image href="assets/img/Mercury.png" width="36" height="36" transform="translate(-18, -18)">
                  <animateMotion repeatCount="indefinite" dur="5s">
                     <mpath href="#orbit1"/>
                  </animateMotion>
               </image>
            </g>
            <g>             
               <image href="assets/img/Venus.png" width="46" height="46" transform="translate(-23, -23)">
                  <animateMotion repeatCount="indefinite" dur="7s">
                     <mpath href="#orbit1"/>
                  </animateMotion>
               </image>
            </g>
            <g>             
               <image href="assets/img/Earth.png" width="46" height="46" transform="translate(-23, -23)">
                  <animateMotion repeatCount="indefinite" dur="10s">
                     <mpath href="#orbit1"/>
                  </animateMotion>
               </image>
            </g>
            <g>             
               <image href="assets/img/Mars.png" width="40" height="40" transform="translate(-20, -20)">
                  <animateMotion repeatCount="indefinite" dur="12s">
                     <mpath href="#orbit1"/>
                  </animateMotion>
               </image>
            </g>
            <g>             
               <image href="assets/img/Jupiter.png" width="76" height="76" transform="translate(-38, -38)">
                  <animateMotion repeatCount="indefinite" dur="15s">
                     <mpath href="#orbit2"/>
                  </animateMotion>
               </image>
            </g>
            <g>          
               <image href="assets/img/Saturn.png" width="70" height="70" transform="translate(-35, -35)">
                  <animateMotion repeatCount="indefinite" dur="20s">
                     <mpath href="#orbit2"/>
                  </animateMotion>
               </image>
            </g>
            <g>             
               <image href="assets/img/Uranus.png" width="60" height="60" transform="translate(-30, -30)">
                  <animateMotion repeatCount="indefinite" dur="25s">
                     <mpath href="#orbit2"/>
                  </animateMotion>
               </image>
            </g>
            <g>             
               <image href="../assets/img/Neptune.png" width="60" height="60" transform="translate(-30, -30)">
                  <animateMotion repeatCount="indefinite" dur="30s">
                     <mpath href="#orbit2"/>
                  </animateMotion>
               </image>
            </g>
         </svg>
         <!-- <svg class="space" viewBox="-38 -38 1140 1140" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M893.491 323.991C803.991 177.491 670.991 122.18 538.991 119.991C374.525 117.264 250.491 194.993 170.491 323.991C92.5179 449.722 101.662 585.491 154.491 702.491C217.342 841.686 339.991 922.522 462.491 943.491C635.096 973.037 779.491 894.991 874.491 766.491C977.316 627.407 968.023 445.991 893.491 323.991Z" stroke="#c5c5c5" stroke-width="2"/>
            <path d="M984.833 262.928C870.865 76.3182 701.506 5.86023 533.42 3.0757C333.991 -0.228082 165.009 104.889 73.9901 262.928C-3.50948 397.493 -23.465 596.022 43.8067 745.055C123.84 922.359 280.018 1025.33 436.007 1052.04C655.798 1089.67 875.989 982.471 984.833 810.487C1087.99 647.487 1079.74 418.329 984.833 262.928Z" stroke="#c5c5c5" stroke-width="2"/>
            <image href="assets/img/planet1.png" class="planet-1"/>
            <image href="assets/img/planet2.png" class="planet-2"/>
            <image href="assets/img/planet3.png" class="planet-3"/>
            <image href="assets/img/planet4.png" class="planet-4"/>
            <image href="assets/img/planet5.png" class="planet-5"/>
            <image href="assets/img/planet6.png" class="planet-6"/>
            <image href="assets/img/planet7.png" class="planet-7"/>
            <image href="assets/img/planet8.png" class="planet-8"/>
         </svg> -->
         <!-- <svg data-svg-trajectory viewBox="-38 -38 1140 1140" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path data-path="path-one"
               d="M893.491 323.991C803.991 177.491 670.991 122.18 538.991 119.991C374.525 117.264 250.491 194.993 170.491 323.991C92.5179 449.722 101.662 585.491 154.491 702.491C217.342 841.686 339.991 922.522 462.491 943.491C635.096 973.037 779.491 894.991 874.491 766.491C977.316 627.407 968.023 445.991 893.491 323.991Z" stroke="#c5c5c5" stroke-width="2"/>
            <path data-path="path-two"
               d="M984.833 262.928C870.865 76.3182 701.506 5.86023 533.42 3.0757C333.991 -0.228082 165.009 104.889 73.9901 262.928C-3.50948 397.493 -23.465 596.022 43.8067 745.055C123.84 922.359 280.018 1025.33 436.007 1052.04C655.798 1089.67 875.989 982.471 984.833 810.487C1087.99 647.487 1079.74 418.329 984.833 262.928Z" stroke="#c5c5c5" stroke-width="2"/>      
            <image data-trajectory-duration="44000" data-path="path-one"
               href="assets/img/Mercury.png" width="30" height="30" />
            <image data-trajectory-duration="26000" data-path="path-two"
               href="assets/img/Jupiter.png" width="70" height="70" />
         </svg> -->
      </section>
      <div class="community">
         <h2 class="section-title">Join The<span>Community</span></h2>
         <div class="community-text">
            <h6>Our vibrant community is full of collectors, artists, and enthusiasts</h6>
            <h6>who share a passion for one-of-a-kind digital.</h6>
         </div>
         <a href="creators.html" class="btn btn-primary">Join Our Community</a>
      </div>
   </div>
</section>
