<section class="banner">
    <div class="container">
        <div class="banner-content">
            <small class="banner-overtitle">OVER 1M CREATORS</small>
            <h1 class="banner-title">Discover And Create NFTs</h1>
            <div class="banner-description">Discover, Create and Sell NFTs On Our NFT Marketplace
                With Over Thousands Of NFTs And Get a <b>$20 bonus.</b></div>
            <div class="banner-btns-row">
                <a href="#" class="btn btn-primery">Explore More</a>
                <button type="button" class="btn btn-secondary">create NFT</button>
            </div>
            <div class="banner-advantages">
                <div class="banner-advantage">
                    <h3>430K+</h3>
                    <small>Art works</small>
                </div>
                <div class="banner-advantage">
                    <h3>159K+</h3>
                    <small>Creators</small>
                </div>
                <div class="banner-advantage">
                    <h3>87K+</h3>
                    <small>collections</small>
                </div>
            </div>
        </div>
        <div class="banner-slider-container">
            <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="assets/img/banner-slide1.svg" alt="slide1"></div>
                  <div class="swiper-slide"><img src="assets/img/banner-slide2.svg" alt="slide2"></div>
                  <div class="swiper-slide"><img src="assets/img/banner-slide3.svg" alt="slide3"></div>
                  <div class="swiper-slide"><img src="assets/img/banner-slide4.svg" alt="slide4"></div>
                  <div class="swiper-slide"><img src="assets/img/banner-slide5.svg" alt="slide5"></div>
                </div>
            </div>
            <div class="banner-slider-navigation">
                <div class="swiper-button-prev">
                    <svg class="icon-svg">
                        <use href="#swiper-prev-arrow"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="icon-svg">
                        <use href="#swiper-next-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
    </container>
</section>