<div class="container d-flex g-3">
   <div class="tabs">
      <nav class="tabs__nav">
         <div class="tabs__button active">1</div>
         <div class="tabs__button">2</div>
         <div class="tabs__button">3</div>
      </nav>
      <div class="tabs__content active">555</div>
      <div class="tabs__content">666</div>
      <div class="tabs__content">777</div>
   </div>
   <div class="tabs">
      <nav class="tabs__nav">
         <div class="tabs__button active">1</div>
         <div class="tabs__button">2</div>
         <div class="tabs__button">3</div>
      </nav>
      <div class="tabs__content active">555</div>
      <div class="tabs__content">666</div>
      <div class="tabs__content">777</div>
   </div>
   <div class="tabs">
      <nav class="tabs__nav">
         <div class="tabs__button active">1</div>
         <div class="tabs__button">2</div>
         <div class="tabs__button">3</div>
      </nav>
      <div class="tabs__content active">555</div>
      <div class="tabs__content">666</div>
      <div class="tabs__content">777</div>
   </div>
</div>
