<section class="top-collection">
   <div class="container">
      <h2 class="section-title">Top Collection</h2>
      <div class="overflow-auto">
         <table>
            <thead class="header-tab">
               <th class="user-info">Collection</th>
               <th class="volume">Volume</th>
               <th class="header-percent">24h %</th>
               <th class="price">Floor Price</th>
               <th class="owners">Owners</th>
               <th class="items">Items</th>
            </thead>
            <tr class="user">
               <td class="user-info">
                  <img src="assets/img/slide1.svg" alt="avatar">
                  <div class="user-data">
                     <span class="user-name">Alex Ca.</span>
                     <span class="user-nickname">by Alex</span>
                  </div>
               </td>
               <td class="volume">
                  <i class="icon icon-md icon-etherium"></i>
                  <i class="icon icon-xs icon-etherium"></i>
                  <i>8,456</i>
               </td>
               <td class="top-collection__percent" data-percent="+ 23.00%">+ 23.00%</td>
               <td class="price">
                  <i class="icon icon-md icon-etherium"></i>
                  <i class="icon icon-xs icon-etherium"></i>
                  <i>3,5</i>
               </td>
               <td class="owners">2,2K</td>
               <td class="items">500</td>
            </tr>
            <tr class="user">
               <td class="user-info">
                  <img src="assets/img/slide3.svg" alt="avatar">
                  <div class="user-data">
                     <span class="user-name">Differy Da.</span>
                     <span class="user-nickname">by Tom</span>
                  </div>
               </td>
               <td class="volume">
                  <i class="icon icon-md icon-etherium"></i>
                  <i class="icon icon-xs icon-etherium"></i>
                  <i>3,657</i>
               </td>
               <td class="top-collection__percent" data-percent="+ 22.78%">+ 22.78%</td>
               <td class="price">
                  <i class="icon icon-md icon-etherium"></i>
                  <i class="icon icon-xs icon-etherium"></i>
                  <i>2,4</i>
               </td>
               <td class="owners">2.2K</td>
               <td class="items">300</td>
            </tr>
            <tr class="user">
               <td class="user-info">
                  <img src="assets/img/slide2.svg" alt="avatar">
                  <div class="user-data">
                     <span class="user-name">Dura Gx.</span>
                     <span class="user-nickname">by Dura</span>
                  </div>
               </td>
               <td class="volume">
                  <i class="icon icon-md icon-etherium"></i>
                  <i class="icon icon-xs icon-etherium"></i>
                  <i>4,486</i>
               </td>
               <td class="top-collection__percent">+ 11.78%</td>
               <td class="price">
                  <i class="icon icon-md icon-etherium"></i>
                  <i class="icon icon-xs icon-etherium"></i>
                  <i>2,4</i>
               </td>
               <td class="owners">2,2K</td>
               <td class="items">900</td>
            </tr>
            <tr class="user">
               <td class="user-info">
                  <img src="assets/img/slide5.svg" alt="avatar">
                  <div class="user-data">
                     <span class="user-name">Michal Yu.</span>
                     <span class="user-nickname">by Michal</span>
                  </div>
               </td>
               <td class="volume">
                  <i class="icon icon-md icon-etherium"></i>
                  <i class="icon icon-xs icon-etherium"></i>
                  <i>9,124</i>
               </td>
               <td class="top-collection__percent">+ 09.78%</td>
               <td class="price">
                  <i class="icon icon-md icon-etherium"></i>
                  <i class="icon icon-xs icon-etherium"></i>
                  <i>3,5</i>
               </td>
               <td class="owners">2.2K</td>
               <td class="items">920</td>
            </tr>
         </table>
      </div>
      <a href="stats.html" class="explore-all">
         <span>Explore All</span>
         <span class="arrow-container"></span>
      </a>
   </div>
</section>