<section class="top-collection">
   <div class="container">
      <h2 class="section-title">Top Collection</h2>
      <table>
         <thead>
            <tr class="header-tab">
               <th>Collection</th>
               <th>Volume</th>
               <th>24h %</th>
               <th>Floor Price</th>
               <th>Owners</th>
               <th>Items</th>
            </tr>
         </thead>
         <tr class="user">
            <td class="user-info">
               <img src="assets/img/slide1.svg" alt="user__avatar">
               <div class="user-data">
                  <span class="user-name">Alex Ca.</span>
                  <span class="user-nickname">by Alex</span>
               </div>
            </td>
            <td class="volume">
               <i class="icon icon-md icon-etherium"></i>
               <i>8,456</i>
            </td>
            <td class="percent">+ 27.78%</td>
            <td class="price"><i class="icon icon-md icon-etherium"></i>3,5</td>
            <td class="owners">2,2K</td>
            <td class="items">500</td>
         </tr>
         <tr class="user">
            <td class="user-info">
               <img src="assets/img/slide4.svg" alt="user__avatar">
               <div class="user-data">
                  <span class="user-name">Dura Gx.</span>
                  <span class="user-nickname">by Dura</span>
               </div>
            </td>
            <td class="volume">
               <i class="icon icon-md icon-etherium"></i>
               <i>4,486</i>
            </td>
            <td class="percent">+ 09.78%</td>
            <td class="price"><i class="icon icon-md icon-etherium"></i>2,4</td>
            <td class="owners">2,2K</td>
            <td class="items">900</td>
         </tr>
         <tr class="user">
            <td class="user-info">
               <img src="assets/img/slide5.svg" alt="user__avatar">
               <div class="user-data">
                  <span class="user-name">Michal Yu.</span>
                  <span class="user-nickname">by Michal</span>
               </div>
            </td>
            <td class="volume">
               <i class="icon icon-md icon-etherium"></i>
               <i>9,124</i>
            </td>
            <td class="percent">+ 11.78%</td>
            <td class="price"><i class="icon icon-md icon-etherium"></i>3,5</td>
            <td class="owners">2.2K</td>
            <td class="items">920</td>
            <tr class="user">
               <td class="user-info">
                  <img src="assets/img/slide2.svg" alt="user__avatar">
                  <div class="user-data">
                     <span class="user-name">Differy Da.</span>
                     <span class="user-nickname">by Tom</span>
                  </div>
               </td>
               <td class="volume">
                  <i class="icon icon-md icon-etherium"></i>
                  <i>3,657</i>
               </td>
               <td class="percent">+ 22.78%</td>
               <td class="price"><i class="icon icon-md icon-etherium"></i>2,4</td>
               <td class="owners">2.2K</td>
               <td class="items">300</td>
            </tr>   
         </tr>
     </table>
   </div>
</section>