<section class="weekly">
   <div class="container">
      <h2 class="section-title">Weekly - Top NFT</h2>
      <div class="swiper carousel-weekly">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <div class="product">
                  <div class="product-img">
                     <img src="assets/img/slide1.svg" alt="product">
                  </div>
                  <div class="product-title">Sun-Glass</div>
                  <div class="product-bid-title">Current Bid</div>
                  <div class="product-bid">
                     <i class="icon icon-sm icon-etherium"></i>
                     <i class="icon icon-xxs icon-etherium"></i>1.75
                  </div>
                  <a href="product.html" class="btn btn-primary">PLACE BID</a>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="product">
                  <div class="product-img">
                     <img src="assets/img/slide2.svg" alt="product">
                  </div>
                  <div class="product-title">Sun-Glass</div>
                  <div class="product-bid-title">Current Bid</div>
                  <div class="product-bid">
                     <i class="icon icon-sm icon-etherium"></i>
                     <i class="icon icon-xxs icon-etherium"></i>1.75
                  </div>
                  <a href="product.html" class="btn btn-primary">PLACE BID</a>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="product">
                  <div class="product-img">
                     <img src="assets/img/slide3.svg" alt="product">
                  </div>
                  <div class="product-title">Sun-Glass</div>
                  <div class="product-bid-title">Current Bid</div>
                  <div class="product-bid">
                     <i class="icon icon-sm icon-etherium"></i>
                     <i class="icon icon-xxs icon-etherium"></i>1.75
                  </div>
                  <a href="product.html" class="btn btn-primary">PLACE BID</a>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="product">
                  <div class="product-img">
                     <img src="assets/img/slide4.svg" alt="product">
                  </div>
                  <div class="product-title">NuEvey</div>
                  <div class="product-bid-title">Current Bid</div>
                  <div class="product-bid">
                     <i class="icon icon-sm icon-etherium"></i>
                     <i class="icon icon-xxs icon-etherium"></i>1.75
                  </div>
                  <a href="product.html" class="btn btn-primary">PLACE BID</a>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="product">
                  <div class="product-img">
                     <img src="assets/img/slide5.svg" alt="product">
                  </div>
                  <div class="product-title">NuEvey</div>
                  <div class="product-bid-title">Current Bid</div>
                  <div class="product-bid">
                     <i class="icon icon-sm icon-etherium"></i>
                     <i class="icon icon-xxs icon-etherium"></i>1.75
                  </div>
                  <a href="product.html" class="btn btn-primary">PLACE BID</a>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="product">
                  <div class="product-img">
                     <img src="assets/img/slide1.svg" alt="product">
                  </div>
                  <div class="product-title">Sun-Glass</div>
                  <div class="product-bid-title">Current Bid</div>
                  <div class="product-bid">
                     <i class="icon icon-sm icon-etherium"></i>
                     <i class="icon icon-xxs icon-etherium"></i>1.75
                  </div>
                  <a href="product.html" class="btn btn-primary">PLACE BID</a>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="product">
                  <div class="product-img">
                     <img src="assets/img/slide2.svg" alt="product">
                  </div>
                  <div class="product-title">Sun-Glass</div>
                  <div class="product-bid-title">Current Bid</div>
                  <div class="product-bid">
                     <i class="icon icon-sm icon-etherium"></i>
                     <i class="icon icon-xxs icon-etherium"></i>1.75
                  </div>
                  <a href="product.html" class="btn btn-primary">PLACE BID</a>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="product">
                  <div class="product-img">
                     <img src="assets/img/slide3.svg" alt="product">
                  </div>
                  <div class="product-title">Sun-Glass</div>
                  <div class="product-bid-title">Current Bid</div>
                  <div class="product-bid">
                     <i class="icon icon-sm icon-etherium"></i>
                     <i class="icon icon-xxs icon-etherium"></i>1.75
                  </div>
                  <a href="product.html" class="btn btn-primary">PLACE BID</a>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="product">
                  <div class="product-img">
                     <img src="assets/img/slide4.svg" alt="product">
                  </div>
                  <div class="product-title">NuEvey</div>
                  <div class="product-bid-title">Current Bid</div>
                  <div class="product-bid">
                     <i class="icon icon-sm icon-etherium"></i>
                     <i class="icon icon-xxs icon-etherium"></i>1.75
                  </div>
                  <a href="product.html" class="btn btn-primary">PLACE BID</a>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="product">
                  <div class="product-img">
                     <img src="assets/img/slide5.svg" alt="product">
                  </div>
                  <div class="product-title">NuEvey</div>
                  <div class="product-bid-title">Current Bid</div>
                  <div class="product-bid">
                     <i class="icon icon-sm icon-etherium"></i>
                     <i class="icon icon-xxs icon-etherium"></i>1.75
                  </div>
                  <a href="product.html" class="btn btn-primary">PLACE BID</a>
               </div>
            </div>
         </div>
         <div class="weekly-slider-navigation">
            <div class="weekly-button-prev">
               <svg class="icon-svg">
                  <use href="#swiper-prev-arrow"></use>
               </svg>
            </div>
            <div class="weekly-button-next">
               <svg class="icon-svg">
                  <use href="#swiper-next-arrow"></use>
               </svg>
            </div>
         </div>
      </div>
      @@include('widget__recent-viewed.html')
   </div>
</section>
