<div class="widjet">
   <div class="widjet__title">
      <h4>Recent-Viewed</h4>
      <nav class="layout-menu">
         <button class="layout-case__button">
            <svg class="icon-svg">
               <use href="#icon-widget-menu"></use>
            </svg>
         </button>
         <ul class="layout-case">
            <li class="layout-case__item" data-layout="list">
               <svg class="icon-svg">
                  <use href="#layout-case__list"></use>
               </svg>
            </li>
            <li class="layout-case__item" data-layout="grid">
               <svg class="icon-svg">
                  <use href="#layout-case__grid"></use>
               </svg>
            </li>
         </ul>
      </nav>
   </div>
   <ul class="widjet-users-list">
      <li class="widjet-users-list__item">
         <div class="widjet-user">
            <div class="widjet-user__avatar">
               <img src="assets/img/slide1.svg" alt="user__avatar">
            </div>
            <div class="widjet-user__data">
               <div class="widjet-user__name">Alex Ca.</div>
               <div class="widjet-user__nickname">Alexy</div>
            </div>
            <div class="widjet-user__volume">
               <div class="widjet-user__price"><i class="icon icon-xs icon-etherium"></i>8,456</div>
               <div class="widjet-user__percent widjet-user__percent-totop">+23,00%</div>
               <div class="widjet-user__percent widjet-user__percent-tobottom"></div>
            </div>
         </div>
      </li>
      <li class="widjet-users-list__item">
         <div class="widjet-user">
            <div class="widjet-user__avatar">
               <img src="assets/img/slide5.svg" alt="user__avatar">
            </div>
            <div class="widjet-user__data">
               <div class="widjet-user__name">Juliya S.</div>
               <div class="widjet-user__nickname">JuliyaS</div>
            </div>
            <div class="widjet-user__volume">
               <div class="widjet-user__price"><i class="icon icon-xs icon-etherium"></i>5,327</div>
               <div class="widjet-user__percent widjet-user__percent-totop"></div>
               <div class="widjet-user__percent widjet-user__percent-tobottom">-32,01%</div>
            </div>
         </div>
      </li>
      <li class="widjet-users-list__item">
         <div class="widjet-user">
            <div class="widjet-user__avatar">
               <img src="assets/img/slide4.svg" alt="user__avatar">
            </div>
            <div class="widjet-user__data">
               <div class="widjet-user__name">Dura Gx.</div>
               <div class="widjet-user__nickname">By Dura</div>
            </div>
            <div class="widjet-user__volume">
               <div class="widjet-user__price"><i class="icon icon-xs icon-etherium"></i>4,486</div>
               <div class="widjet-user__percent widjet-user__percent-totop">+09.78%</div>
               <div class="widjet-user__percent widjet-user__percent-tobottom"></div>
            </div>
         </div>
      </li>
      <li class="widjet-users-list__item">
         <div class="widjet-user">
            <div class="widjet-user__avatar">
               <img src="assets/img/slide2.svg" alt="user__avatar">
            </div>
            <div class="widjet-user__data">
               <div class="widjet-user__name">Michal Yu.</div>
               <div class="widjet-user__nickname">By Michal</div>
            </div>
            <div class="widjet-user__volume">
               <div class="widjet-user__price"><i class="icon icon-xs icon-etherium"></i>9,124</div>
               <div class="widjet-user__percent widjet-user__percent-totop">+11.78%</div>
               <div class="widjet-user__percent widjet-user__percent-tobottom"></div>
            </div>
         </div>
      </li>
      <li class="widjet-users-list__item">
         <div class="widjet-user">
            <div class="widjet-user__avatar">
               <img src="assets/img/slide1.svg" alt="user__avatar">
            </div>
            <div class="widjet-user__data">
               <div class="widjet-user__name">Differy Da.</div>
               <div class="widjet-user__nickname">By Tom</div>
            </div>
            <div class="widjet-user__volume">
               <div class="widjet-user__price"><i class="icon icon-xs icon-etherium"></i>3,657</div>
               <div class="widjet-user__percent widjet-user__percent-totop">+22.78%</div>
               <div class="widjet-user__percent widjet-user__percent-tobottom"></div>
            </div>
         </div>
      </li>
      <li class="widjet-users-list__item">
         <div class="widjet-user">
            <div class="widjet-user__avatar">
               <img src="assets/img/slide3.svg" alt="user__avatar">
            </div>
            <div class="widjet-user__data">
               <div class="widjet-user__name">Union Ca.</div>
               <div class="widjet-user__nickname">By Jerry</div>
            </div>
            <div class="widjet-user__volume">
               <div class="widjet-user__price"><i class="icon icon-xs icon-etherium"></i>4,486</div>
               <div class="widjet-user__percent widjet-user__percent-totop">+ 27.78%</div>
               <div class="widjet-user__percent widjet-user__percent-tobottom"></div>
            </div>
         </div>
      </li>
   </ul>
</div>